<h1>New periodo</h1>

<% form_for (@periodo, :periodo, :url => { :action => :create}, :maestro_id => @maestro) do |f| %>
  <%= f.error_messages %>
    
  <p>
    <%= f.label :numero %><br />
    <%= f.text_field :numero %>
  </p>
  <p>
    <%= f.label :anio, "Año" %><br />
    <%= f.text_field :anio %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', periodos_path %>
