<p>
  <b>Maestro:</b>
  <%=h @periodo.maestro_id %>
</p>

<p>
  <b>Numero:</b>
  <%=h @periodo.numero %>
</p>

<p>
  <b>Anio:</b>
  <%=h @periodo.anio %>
</p>


<%= link_to 'Edit', edit_periodo_path(@periodo) %> |
<%= link_to 'Back', periodos_path %>
