<p>
  <b>Clave:</b>
  <%=h @maestro.clave %>
</p>

<p>
  <b>Titulo:</b>
  <%=h @maestro.titulo %>
</p>

<p>
  <b>Nombre:</b>
  <%=h @maestro.nombre %>
</p>


<%= link_to 'Edit', edit_maestro_path(@maestro) %> |
<%= link_to 'Back', maestros_path %>
