
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Departamentos: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'main' %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>
<div id="pagina">
	<div id="header">
		<div id="logos">
			<table width="100%" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td valign="middle" align="left" width="130px">
						<%= image_tag('/images/logo.png') %>
					</td>
					<td valign="bottom" align="right">
						<div id="logos_itnl">
							s
						</div>
						<div id="menu_principal">
							<ul>
								<li>
									<%= link_to "<div>Salir</div>", "http://www.google.com" %>
								</li>
								<li>
									<%= link_to "<div>Administración</div>", "http://www.google.com" %>
								</li>
								<li>
									<%= link_to "<div>Reportes</div>", "http://www.google.com" %>
								</li>
							<ul>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div id="page_content">
		<div id="contenido">
			<div id="main_content">
				<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><%= yield -%>
			</div>
		</div>
		<div id="footer">
			s
		</div>
	</div>
<div>


</body>
</html>